.dcylabs-vertical-button{
  position:relative;
  overflow:hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
  .vertical-wrapper{
    position:absolute;
    left:0;
    top:0%;
    background:inherit;
    color: inherit;
    transition: top 0.3s;
    .btn{
      display:block;
      background:inherit !important;
      color: inherit !important;
      border: 0 !important;
      margin: 0 !important;
    }
  }
  &.hoverable:hover, &.opened{
    .vertical-wrapper{
      top:-100%;
    }
  }
}